<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
        <tab id="navintab" translate="label" sortOrder="110">
            <label>Navin</label>
        </tab>
        <section id="newsletterpopup" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Newsletterpopup</label>
            <tab>navintab</tab>
            <resource>Navin_Newsletterpopup::config</resource>
            <group id="popup_group" translate="label" type="text" sortOrder="101" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configuration Options</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				
                <field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>             
                </field>
                <field id="content" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Content</label>             
                </field>
			
                <field id="width" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Width</label>             
                </field>
                <field id="height" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Height</label>             
                </field>
                <field id="speed" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Speed Popup(Milisecons)</label>             
                </field>
                <field id="margin_top" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Margin Top</label>             
                </field>
                <field id="cookie_timeout" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Timeout</label>    
                    <comment>Set cookies to x day.</comment>					
                </field>
                <field id="background" translate="label" type="image" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Image</label>
                    <comment>Allowed file types:PNG, GIF, JPG, JPEG.</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Image\Logo</backend_model>
                    <base_url type="media" scope_info="1">logo</base_url>
                </field>
            </group>
        </section>
    </system>
</config>